.conteinerTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.conteinerTable th,
td {
  border: 1px solid #fff;
  padding: 10px 20px;
}

.conteinerTable table {
  width: 650px;
  text-align: center;
}
