body {
  color: var(--c);
  background-color: var(--back-c);
}

.dark {
  --back-c: #242424;
  --back-c-btn: #424242;
  --c: rgba(255, 255, 255, 0.87);
  --c-btn: rgba(255, 255, 255, 0.87);
  --c-bor: rgba(255, 255, 255, 0.87);
  --c-btn-2: rgb(45, 45, 104);
}

.light {
  --back-c: rgba(255, 255, 255, 0.87);
  --back-c-btn: #dadada;
  --c: #242424;
  --c-btn: #242424;
  --c-bor: #242424;
  --c-btn-2: rgb(162, 197, 236);
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.errorText {
  color: rgb(168, 55, 55);
  font-size: 25px;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
